body {
    overflow: hidden;
}
.layui-header {
    width: 200px !important;
}
.layui-body {
    top: 0 !important;
}

.layui-nav-tree .layui-nav-child dd.layui-this, .layui-nav-tree .layui-nav-child dd.layui-this a, .layui-nav-tree .layui-this, .layui-nav-tree .layui-this>a, .layui-nav-tree .layui-this>a:hover {
    background-color: #ff4654;
    color: #fff;
    font-weight: bold;
}

.layui-tab {
    height: 100%;
}
.layui-tab-content {
    height: 100%;
}
.layui-tab-item {
    height: 100%;
}