<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.ultronxr.valorant.bean.mybatis.mapper.EndProductRiotAccountMapper">

    <select id="queryAccount" parameterType="java.lang.Object" resultType="cn.ultronxr.valorant.bean.mybatis.bean.EndProductRiotAccount">
        SELECT
            account_no, region, title, img, price, status
        FROM
            valorant_end_product_riot_account
        WHERE
            status != 10
            <if test="endProductRiotAccountDTO.accountNo != null">
                AND account_no = #{endProductRiotAccountDTO.accountNo}
            </if>
            <if test="endProductRiotAccountDTO.region != null">
                AND region = #{endProductRiotAccountDTO.region}
            </if>
            <if test="endProductRiotAccountDTO.priceLow != null">
                AND price >= #{endProductRiotAccountDTO.priceLow}
            </if>
            <if test="endProductRiotAccountDTO.priceHigh != null">
                AND price <![CDATA[ <= ]]> #{endProductRiotAccountDTO.priceHigh}
            </if>
            <if test="endProductRiotAccountDTO.skinSearchArray != null and endProductRiotAccountDTO.skinSearchArray.size() > 0">
                AND account_no IN (
                <!-- 查询出拥有所有皮肤ID的账号 -->
                    SELECT
                        account_no
                    FROM (
                        SELECT
                            account_no,
                            COUNT(item_id) AS count
                        FROM
                            valorant_end_product_store_entitlements
                        WHERE
                            item_id IN
                            <foreach  item="item" index="index" collection="endProductRiotAccountDTO.skinSearchArray" open="(" separator="," close=" )">
                                #{item}
                            </foreach>
                        GROUP BY
                            account_no
                    ) AS temp
                    WHERE
                        count = ${endProductRiotAccountDTO.skinSearchArray.size}
                )
            </if>
        ORDER BY
            <if test="endProductRiotAccountDTO.priceOrder != null and endProductRiotAccountDTO.priceOrder == 0">
                price ASC,
            </if>
            <if test="endProductRiotAccountDTO.priceOrder != null and endProductRiotAccountDTO.priceOrder == 1">
                price DESC,
            </if>
                account_no ASC
    </select>

</mapper>